/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --main-blue     : #5CACC4;
    --main-green    : #8CD19D;
    --main-yellow   : #CEE879;
    --main-orange   : #FCB653;
    --main-red      : #FF5254;
}


